html
	head
		title Leraar
	body
		link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		script(src="../js/jquery-3.2.1.min.js")
		script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
		script(src="../js/datepicker.js")
		link(rel="stylesheet" href="../css/main.css")
		header
			nav
				div
					a(href= "/") Home
				div 
					a(href='/register') Register
				div
					a(href='/logout') Logout
		main
			h1 Welkom bij uw profiel #{teacher.firstname} #{teacher.lastname}!
			div.kindgegevens
				h2 Dit zijn uw studenten:
				table
					tr
						th Voornaam
						th Achternaam
						th Geboortedatum
						th School
						th Ouder
						th Telefoonnummer ouder
						th Email ouder
					each student in students
						tr
							td #{student.firstname}
							td #{student.lastname}
							td #{student.birthdate}
							td #{student.school}
							td #{student.parent.firstname} #{student.parent.lastname}
							td #{student.parent.phoneNumber}
							td #{student.parent.email}
			div.lessons
				h2 Voeg een les toe:
					form(action='/lesson' method='post')
						table
							tr
								th Voornaam
								th Achternaam
								th Gedrag
								th Aanwezigheid
								th Huiswerk
							each student in students
								tr
									td #{student.firstname}
									td #{student.lastname}
									td
										select(type='text' name='behaviour' required)
											option(value='slecht') Slecht
											option(value='voldoende') Voldoende
											option(value='goed') Goed
									td
										select(type='text' name='attendance' required)
											option(value='Aanwezig') Aanwezig
											option(value='Te laat') Te laat
											option(value="Afwezig zonder reden") Afwezig zonder reden
											option(value='Ziek') Ziek
									td
										select(type='text' name='homework' required)
											option(value='gemaakt') Gemaakt
											option(value='half gemaakt') Half gemaakt
											option(value='niet gemaakt') Niet gemaakt
						br
						input(type='hidden' name='teacherId' value=teacher.id)
						input(type='hidden' name='groupId' value=teacher.groupId)
						input(id='lessonDate' type='' name='date' required)
						br
						textarea(type='text' name='nextHomework' placeholder="Huiswerk voor de volgende les" required) 
						br
						input(type='submit' Value='Submit')
			div.intakes
				h2 Dit zijn de studenten die nog geaccepteerd moeten worden:
				each intake in intakes
					h3 #{intake.firstname} #{intake.lastname}
					form(action='/intake' method='post')
						input(type='hidden' name='id' value=intake.id)
						select(type="text" name="groupId")
							each klas in klassen
								option(value=klas.id) #{klas.groupName}
						input(type='submit' value='Submit')
			div.addTeacher
				h2 Voeg leraren toe:
				form(action='/teacher' method='post')
					input(type='text' placeholder='Voornaam' name='firstname' required)
					br
					input(type='text' placeholder='Achternaam' name='lastname' required)
					br
					input(type='text' placeholder='email' name='email' required)
					br
					input(id='date' type='' placeholder='Geboortedatum' name='birthdate' required)
					br
					input(type='text' placeholder="Telefoonnummer" name='phoneNumber' required)
					br
					input(type='radio' name="gender" value="male" required) 
					| Man
					input(type='radio' name="gender" value="female" required) 
					| Vrouw
					br
					input(type='text' placeholder='wachtwoord' name='password' required)
					br
					select(type="text" name="groupId" required)
						each klas in klassen
							option(value=klas.id) #{klas.groupName}
					br
					input(type='submit' value='Submit')
			div.addGroup
				h2 Voeg klassen toe:
				form(action='klassen' method='post')
					input(type='text' placeholder='klasnaam' name='groupName' required)
					br
					input(type='submit' value='Submit')
		footer
			h4 &copy; 2017 Ansaar School Inc. All rights reserved.